[".config/emacs"]
  type = "git-repo"
  url = "https://github.com/doomemacs/doomemacs.git"
  refreshPeriod = "168h"
    [".config/emacs".clone]
      args = ["--depth=1"]
[".tmux-powerline"]
  type = "git-repo"
  url = "https://github.com/erikw/tmux-powerline.git"
  refreshPeriod = "168h"
