{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/karabiner
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
Documents
{{ end }}
